div.container-settings {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    font-size: 0.75rem;

    div.title {
        color: rgb(146, 146, 146);
    }

    div.sorts {
        display: flex;
        gap: 1.25rem;
        align-items: center;

        input {
            display: none;
        }
        input:checked + label{
            text-decoration: underline;
        }

        label {
            color: rgba(47, 128, 237, 1);
            cursor: pointer;
        }

        .sorting-order {
            cursor: pointer;
            background-color: transparent;
            box-shadow: none;
            padding: 0;

            img {
                transition: all 0.1s ease-in-out;
                width: 1.75rem;

                &.ascending {
                    transform: scale(1, -1);
                }
            }

        }


    }

}