header {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 10;

    .container-header {
        display: grid;
        gap: 1.25rem;

        .logo-and-form {
            display: flex;
            gap: 0.625rem;
            align-items: center;

            button.logo {
                background-color: transparent;
                box-shadow: none;
                cursor: pointer;
                padding: 0;

                img {
                    vertical-align: middle;
                }
            }

    
            .form-and-settings-button {
                display: flex;
    
                gap: 0.625rem;
        
                form {
                    display: flex;
            
                    input {
                        background-color: rgb(239, 239, 239);
                        width: 24.75rem;
                        padding-left: 0.375rem;

                        @media (max-width: 650px) {
                            & {
                                width: 45vw;
                                min-width: 12rem;
                            }
                        }
                    }
            
                    button {
                        padding: 0.25rem 1.375rem;
                        border-radius: 0 0.25rem 0.25rem 0;
                        font-size: 0.75rem;
                    }
                }
    
                > button {
                    display: flex;
                    align-items: center;
                    padding: 0.125rem 0.25rem;
                }
            }
        }
    }
}