main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div.error {
        display: flex;
        gap: 1.75rem;
        align-items: center;
        margin-bottom: 3rem;

        div {
            color: rgb(130, 130, 130);
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

