div.container-videos {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    align-items: center;

    div.videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.75rem;
    }
}